@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(./assets/images/background-pattern-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(275, 100%, 97%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100%;
    font-family: "Work Sans", sans-serif;
}
.container{
    width: 25em;
    background-color: white;
    border-radius: 10px;
    height: 420px;
    padding: 20px 20px 20px 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 10px auto;
}
h1{
    color: hsl(292, 42%, 14%);
    font-size: 2.6rem;
    margin-left: 5%;
    
}
h4{
    color: hsl(292, 42%, 14%);
    font-size: 1em;
    user-select: none;
}
p{
    color: hsl(292, 16%, 49%);
    font-size: 0.9em;
}
p{
    display: none;
}
section > .question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    
}

.text-active {
    
    display: inline-block;
}
h4:hover{
    color: #ac26ef;
    cursor: pointer;
}
